label.file-reader-input-label > input {
    visibility: hidden;
}

label.file-reader-input-label > button {
    padding: 1rem 2rem;
    background-color: coral;
    border: none;
    box-shadow: 0 0.1rem 0.2rem lightgray;
    color: #ffffff;
    font-weight: 500;
    font-family: sans-serif;
    cursor: pointer;
    font-size: .8rem;
    width: 10rem;
    box-sizing: border-box;
}
label.file-reader-input-label > button:hover {
    background-color: darkred;
}