ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.header > li {
    float: left;
}

ul.header > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.header > li a:hover {
    background-color: #111;
}

ul.header  > li.user {
    float: right;
    max-height: 2.875rem;
}