.App {
    width: 100%;
    margin: 5rem auto;
}

.App > h1 {
    text-align: center;
    background-color: #6495ED;
    padding: 1rem 0;
    color: #fff;

}

.file-reader-container {
    margin: 4rem auto 1rem;
    width: 30rem;
    background-color: #F0F8FF;
}

label.file-reader-field, label.number-field {
    display: block;
    margin-top: 1rem;
    width: 30rem;
    clear: both;
    padding: 1rem;
}

label.file-reader-field > span, label.number-field > span {
    width: 15rem;
    left: 0;
    position: relative;
    float: left;
    padding: 1rem;
}

label.number-field > input.input-number {
    width: 9rem;
    padding: 1rem 0 1rem 1rem;
}


.App .results {
    clear: both;
    margin: 0 auto;
    width: 80%;
    padding: 2rem;
    background-color: #D2B48C;
    border-radius: 2rem;
    font-family: sans-serif;
    line-height: 2rem;
}

label.file-reader-field .file-text {
    padding: 1rem;
    width: 8rem;
}

label.file-reader-label {
    width: 15rem;
    right: 0;
    position: relative;
    float: right;
}